* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: url("./assets/topography.png");
}

a, .content>h2{
    color: #ff0099;
}

h1 {
    margin: 100px 0 40px;
}

h2 {
    margin: 15px 0;
}

p {
    margin: 10px 0;
}

.flexbox-container {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #333333;
    margin-bottom: 40px;
}

.flexbox-item {
    width: 30px;
}

.nav1 {
    margin-left: 80px;
}

.nav2 {
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
    flex-grow: 4;
}

.nav6 {
    margin-right: 80px;
}

.nav3, .nav4, .nav5, .nav6 {
    padding: 20px;
}

.content, #wiki{
    margin: 80px 80px;
}

hr {
   width: 30%; 
   text-align: center;
   margin-left: 35%;
   margin-top: 40px;
   border-top: dashed;
}

#wiki>h1 {
    text-align: center;
    margin-bottom: 60px;
}